<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769341373683-vp0akf4p0r857fcm95moojaqt6elmqnl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769341373683-vp0akf4p0r857fcm95moojaqt6elmqnl</string>
	<key>API_KEY</key>
	<string>AIzaSyBVUDFoxwVizu-XSGKkgKe_PjHKIvkx_Yg</string>
	<key>GCM_SENDER_ID</key>
	<string>769341373683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.olimpiadas</string>
	<key>PROJECT_ID</key>
	<string>a3usabilidade</string>
	<key>STORAGE_BUCKET</key>
	<string>a3usabilidade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769341373683:ios:f209856f1c3c4d5ed8cb86</string>
</dict>
</plist>